{% extends "HolidayBase/holiday_main.html" %}
{% block public %}
{% csrf_token %}
<html>
<head>
<meta http-equiv="Content-Language" content="zh-CN">
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
{% if perms.login.can_rs %}
<meta http-equiv="refresh" content="2;url=/all_leave_for_one/?PersonID={{PersonID}}">
{% else %}
<meta http-equiv="refresh" content="2;url=/my_leave/">
{% endif %}
</head>
<body>
        {% if Falid %}
          <h1>非法操作！</h1>
        {% else %}
          <h1>删除成功！</h1>
        {% endif %}
</body>
</html>
{% endblock %}
