{% extends "Base/Base.html" %}
{% block content %}
<body>
<br>
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
    <form class="form-horizontal" action='/register/' method='post'>
        账号:<input type="text" name="username" class="form-control">
        密码:<input type="text" name="password" class="form-control">
        姓名:<input type="text" name="name" class="form-control">
        员工号:<input type="text" name="person_number" class="form-control">
        部门:<select name="department" class="btn btn-default dropdown-toggle form-control">
                          {% for de in department%}
                              <option value="{{de.name}}">{{de.name}}</option>
                          {% endfor %}
                   </select>

        职位:<select name="position" class="btn btn-default dropdown-toggle form-control">
                          {% for po in position%}
                              <option value="{{po.name}}">{{po.name}}</option>
                          {% endfor %}
                   </select>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="点击注册" align="center" class = "form"/>
        <a href="/login/" class="btn btn-success btn-lg btn-block">点击返回</a>
        {% for er in errors %}
        {{er}}<br>
        {% endfor %}
    </form>
    </div>
    <div class="col-md-1"></div>
</div>
</body>
{% endblock %}
