<html>
 <head>
    <meta charset="utf-8">
    <title>Gitlab月报表导出</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/angular-multi-select/isteven-multi-select.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular-busy/angular-busy.js"></script>


    <link href="bower_components/angular-multi-select/isteven-multi-select.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/angular-busy/angular-busy.css" rel="stylesheet" />
    <link href="CSS/main.css" rel="stylesheet" />


    <script src="app.js"></script>
    <script src="Config.js"></script>
    <script src="Controller/GitLabController.js"></script>
    <script src="Service/loginService.js"></script>
    <script src="Service/mileStoneService.js"></script>
    <script src="Service/issueByMileStoneService.js"></script>
    <script src="Service/issueReportService.js"></script>

 </head>

 <body ng-app="GitLabApp" ng-controller="GitLabController as vm" >
   <div class="row" ng-show="vm.isLogin">

   </div>

   <div class="row " ng-show='!vm.isLogin'>
     <div class="col-md-2"></div>
     <form class="form-horizontal col-md-6 loginForm">
        <legend>
          <strong class="loginTitle">Git issues</strong>
          <small>使用你得 Git Lab 账号登陆吧!</small>
        </legend>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
          <div class="col-sm-10">
            <input ng-model="vm.param.userName" type="text" class="form-control" id="inputEmail3" placeholder="用户名 或者 邮箱">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
          <div class="col-sm-10">
            <input ng-model="vm.param.password" type="password" class="form-control" id="inputPassword3" placeholder="密码">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.rememberUsername"> 记住账号
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-lg" id="login" ng-click="vm.login()" ng-disabled="vm.onLogin">登陆</button>
          </div>
        </div>
      </form>
   </div>

   <div class="row" ng-show='vm.isLogin'>
     <div class="col-md-2 search">
       <legend>
         <strong>版本号:</strong>
       </legend>
       <div ng-repeat="(key,mile) in vm.MileStone" class="form-group" >
         <span class="selectTitle">{{key|projectName}}</span>
               <div
                 isteven-multi-select
                 input-model="mile"
                 output-model="vm.selectMile[key]"
                 button-label="title"
                 item-label="title"
                 tick-property="ticked"
                 output-properties="id"
                 translation="vm.localLang"
                 max-labels="1"
                 max-height="250px">
               </div>
       </div>
       <button class="btn btn-default createButton" id="createReport" ng-click="vm.createReport();">生成报表页</button>
       <button class="btn btn-default createButton" id="createVersion" ng-click="vm.createVersion();">生成更新页</button>
       <button class="btn btn-default createButton"
        ng-if="vm.versionData"
        ng-click="vm.changeVersionShow = !vm.changeVersionShow">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        切换更新页模式
       </button>
       <hr>
       <legend>
         <strong>用户信息:</strong>
       </legend>
       <div class="userData">
         姓名:&nbsp; <span class="selectTitle">{{vm.UserData.name}}</span> &nbsp;
         <div class="btn btn-default btn-xs" ng-click="vm.logOut();">退出登陆</div>
         <hr>
         [预留位置]
       </div>
     </div>
     <div class="col-md-9 showData" ng-show="!vm.reportData&&!vm.versionData">
       <div class="jumbotron">
        <h1>&nbsp;使用方法:</h1>
        <h3>&nbsp;1.选择左侧版本号</h3>
        <h3>&nbsp;2.点击功能按钮</h3>
        <h3>&nbsp;3.将在此处生成对应页面</h3>
        <h3>&nbsp;注意: 当你想生成BUG详情页面的时候,请务必每个项目只选择一个版本号,否则将会统计你勾选的所有版本号内的Close Bug</h3>
      </div>
     </div>
     <div class="col-md-9 showData" ng-show="vm.reportData">
       <div ng-repeat="(key,value) in vm.reportData.project">
         <legend>
           <strong>{{key|projectName}}</strong>
         </legend>
         <table class="table table-bordered">
           <tr>
             <th>组</th>
             <th>bug</th>
             <th>feature</th>
             <th>issues总计</th>
             <th>备注</th>
           </tr>
           <tr ng-repeat="issue in value">
             <td>{{issue.name}}</td>
             <td>{{issue.bugTotal.length}}</td>
             <td>{{issue.featureTotal.length}}</td>
             <td>{{issue.issuesTotal}}</td>
             <td>
               <span class="btn" ng-click="vm.curIssueReport = issue;" data-toggle="modal" data-target="#reportData">查看详情</span>
             </td>
           </tr>
         </table>
       </div>

       <div>
         <legend>
           <strong>个人统计</strong>
         </legend>
         <table class="table table-bordered">
           <tr>
             <th>姓名</th>
             <th>bug</th>
             <th>feature</th>
             <th>issues总计</th>
             <th>备注</th>
           </tr>
           <tr ng-repeat="(key,value) in vm.reportData.personnal">
             <td>{{value.name}}</td>
             <td>{{value.bugTotal.length}}</td>
             <td>{{value.featureTotal.length}}</td>
             <td>{{value.issuesTotal}}</td>
             <td>
               <span class="btn" ng-click="vm.curIssueReport = value;" data-toggle="modal" data-target="#reportData">查看详情</span>
             </td>
           </tr>
         </table>
       </div>
     </div>
     <div class="col-md-9 showData" ng-show="vm.versionData&&!vm.changeVersionShow">
       <div ng-repeat="(key,value) in vm.versionData">
         <legend>
           <strong>{{key|projectName}}</strong>
           <small>{{value['BUG'][0].milestone.title}}</small>
         </legend>
         <div>
           <span class="btn btn-primary" type="button">
              BUG <span class="badge">{{value['BUG'].length}}</span>
           </span>
           <span class="btn btn-success" type="button">
              FEATURE <span class="badge">{{value['FEATURE'].length}}</span>
           </span>
         </div>
         <!--issueId--> <!--issueLable-->
         <div ng-repeat="(type,issues) in value">
           <legend>{{type}}</legend>
           <table class="table table-striped table-hover table-condensed">
            <tr>
              <th style="width:66px">序号</th>
              <th style="width:55px">ID</th>
              <th style="width:110px">分类</th>
              <th>描述</th>
              <th>解决人</th>
            </tr>
           <tr ng-repeat="issue in issues | orderBy: vm.versionOrder :true">
               <td>{{$index+1}}</td>
               <td>
                 <a
                  ng-href="{{vm.toIssueUrl.url}}{{issue.project_id|toIssuePage}}/issues/{{issue.iid}}"
                  target="_blank">{{issue.iid}}</a>
                </td>
               <td>{{issue.labels|mainLabel}}</td>
               <td>{{issue.title}}</td>
               <td>{{issue.assignee.name}}</td>
           </tr>
           </table>
         </div>
       </div>
     </div>
     <div class="col-md-9 showData" ng-show="vm.versionData&&vm.changeVersionShow">
       <div ng-repeat="(key,value) in vm.versionData">
         【{{key|projectName}}-版本号:{{value[0].milestone.title}}】<br>
          <div ng-repeat="(type,issues) in value">
            {{type}}:<br>
            <div ng-repeat="issue in issues | orderBy: vm.versionOrder :true">
               &nbsp;&nbsp;{{$index+1}}:{{issue.title}}<br>
            </div>
       </div>
     </div>
   </div>
   <!--modal-->

<!-- Modal versionData-->
<!-- <div class="modal fade" id="versionData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">#issue {{vm.curIssueVersion.iid}}</h4>
      </div>
      <div class="modal-body">
        <span>问题概述:</span>{{vm.curIssueVersion.title}} <br/>
        <span>所属项目:</span>{{vm.curIssueVersion.project_id|projectName}} <br/>
        <span>创建人:</span>{{vm.curIssueVersion.author.name}} | {{vm.curIssueVersion.author.username}}<br/>
        <span>创建时间:</span>{{vm.curIssueVersion.created_at|date2cn:'yyyy-MM-dd hh:mm:ss'}} <br/>
        <span>解决人:</span>{{vm.curIssueVersion.assignee.name}} | {{vm.curIssueVersion.assignee.username}} <br/>
        <span>解决时间:</span>{{vm.curIssueVersion.updated_at|date2cn:'yyyy-MM-dd hh:mm:ss'}} <br/>
        <span>标签:</span> <small ng-repeat="label in vm.curIssueVersion.labels"> {{label}} </small><br/>
      </div>
      <div class="modal-footer">
         <a class="btn btn-default"
         ng-href="{{vm.toIssueUrl.url}}{{vm.curIssueVersion.project_id|toIssuePage}}/issues/{{vm.curIssueVersion.iid}}"
         target="_blank">详情</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Modal reportData-->
<div class="modal fade" id="reportData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{vm.curIssueReport.name}} 详情:</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat="(key,value) in vm.curIssueReport">
            <div ng-if="key!=='issuesTotal'&&key!=='name'&&value.length>0">
              <legend>
                <strong>{{key}}类型:</strong>
              </legend>
              <div class="modalIssue" ng-repeat="iss in value">
                <span class="modal_index">[#issue{{iss.iid}}]</span>
                <span class="modal_titles">{{iss.title}}</span> <br>
                <span class="modal_resolve">[解决人:{{iss.assignee.name}}]</span>
                <span class="modal_resolve_time">[解决时间:{{iss.updated_at|date2cn:'yyyy-MM-dd hh:mm:ss'}}] </span>
              </div>
              <br><br>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

 </body>

</html>
